<div class="container mt-3" #linkedIn>
  <div class="row">
    <div class="col">
      <p class="lh-1">
        To: you@example.com
        <br />
        From: hello@LinkedIn.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>LinkedIn!</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mt-4">
      Hello! This is a test email from LinkedIn. Welcome to the Beta! You have
      been chosen do to your loyalty to professionalism and the manner in which
      you conduct business. Congratulations on this once in a lifetime
      opportunity!
    </div>
  </div>
  <div class="form-group mt-4">
    <label for="formTextArea"></label>
    <textarea id="textArea" rows="4" class="form-control"></textarea>
  </div>
</div>
