<div class="container mt-3" *ngIf="currentEmail === 'michaelScott' ">
  <div class="row">
    <div class="col">
      <p class="lh-1">
        To: yeyutmilkwq482jm2@hotmail.com
        <br />
        From: hello@yes.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Michael Scott Daily Quotes</h3>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12 mt-4">
        “Do I need to be liked? Absolutely not. I like to be liked. I enjoy being liked. I have to be liked, but it's not like this compulsive need to be liked, like my need to be praised.”
      </div>
      <div class="col-12 mt-4">
        “No, I'm not going to tell them about the downsizing. If a patient has cancer, you don't tell them.”
      </div>
      <div class="col-12 mt-4">
        “An office is for not dying. An office is a place to live life to the fullest, to the max, to... An office is a place where dreams come true.”      </div>
      <div class="col-12 mt-4">
        “Make friends first, make sales second, make love third. In no particular order.”     
     </div>
  </div>
  <div class="form-group mt-4">
      <label for="formTextArea"></label>
      <textarea id="textArea" rows="4" class="form-control"></textarea>
  </div>
</div>

<div class="container mt-3" *ngIf="currentEmail === 'linkedIn' ">
  <div class="row">
    <div class="col">
      <p class="lh-1">
        To: you@example.com
        <br />
        From: hello@LinkedIn.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>LinkedIn!</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mt-4">
      Hello! This is a test email from LinkedIn. Welcome to the Beta! You have
      been chosen do to your loyalty to professionalism and the manner in which
      you conduct business. Congratulations on this once in a lifetime
      opportunity!
    </div>
  </div>
  <div class="form-group mt-4">
    <label for="formTextArea"></label>
    <textarea id="textArea" rows="4" class="form-control"></textarea>
  </div>
</div>

<div class="container mt-3" *ngIf="currentEmail === 'lancia' ">
  <div class="row">
    <div class="col">
      <p class="lh-1">
        To: you@example.com
        <br />
        From: Stratos@Lancia.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Lancia Stratos HF</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mt-4">
      <p>
        The Lancia Stratos is an Italian-made rally car, winning the World Rally Championship in 1974, 1975, and 1976. The HF stands for High Fidelity. The Stratos was the first car designed specifically for a rally competition, with a dedicated team composed of engineer Mike Parkes, rally driver Sandro Munari, and Nicola Materazzi, an engineer who would perform calculations on chassis, steering, suspension, and engine components. 
      </p>
      <p>
        The Stratos was powered by the Ferrari Dino V6 engine, producing between 275 hp for the original 12 valve version and 320 hp for the 24 valve version.
        Lancia produced 492 cars in order to be allowed to race in Group 4 (sports cars), which were sold to the public as The Lancia Stratos HF Stradale. Powered by the same Dino V6, the Stradale came with a lower state of tune, producing only about 190 hp, a 0-62 mph time of 6.8 seconds, and a top speed of 144 mph.
      </p>
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Lancia_Stratos_HF_Kulmbach_2018_6170093.jpg" alt="Angry Italian Man Driving A Lancia Stratos HF" width="300px">
    </div>
  </div>
  <div class="form-group mt-4">
    <label for="formTextArea"></label>
    <textarea id="textArea" rows="auto" class="form-control" placeholder="Reply"></textarea>
  </div>
</div>
