<div class="row">
    <div class="col d-flex justify-content-center">
        <input type="text" placeholder="search for emails" class="mt-2 w-75"> 
    </div>
</div>
<div class="row mt-3">
    <div class="col d-flex justify-content-center mt-3 ">
        <div class="card w-75 mt-5" (click)="onClick('linkedIn')">
            <div class="card-header d-flex justify-content-between">
                <span class="bold"> LinkedIn </span>
                <span class="">1:00AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2">
                        This is some text within a card body.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-75 mt-4" (click)="onClick('michaelScott')">
            <div class="card-header d-flex justify-content-between">
                <span class="bold"> Michael Scott </span>
                <span class="">1:00AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2 text-truncate">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nam ipsam accusantium totam exercitationem expedita repudiandae esse quod consequuntur nulla.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-75 mt-4" (click)="onClick('lancia')">
            <div class="card-header d-flex justify-content-between" >
                <span class="bold">Lancia Stratos HF</span>
                <span class="">3:03AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2 text-truncate">
                        The Lancia Stratos is an Italian-made rally car, winning the World Rally Championship in 1974, 1975, and 1976. The HF stands for High Fidelity.
                    </p>
            </div>
        </div>
    </div>
</div>