<div class="row">
    <div class="col d-flex justify-content-center">
        <input type="text" placeholder="search for emails" class="mt-2 w-75"> 
    </div>
</div>
<div class="row mt-3">
    <div class="col d-flex justify-content-center mt-3 ">
        <div class="card w-75 mt-5 testCol" (click)="onClick('linkedIn')">
            <div class="card-header d-flex justify-content-between">
                <span class="bold"> LinkedIn </span>
                <span class="">10:29AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2 text-truncate">
                        Hello! This is a test email from LinkedIn. Welcome to the Beta! You have been chosen do to your loyalty
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center ">
        <div class="card w-75 mt-4 testCol" (click)="onClick('michaelScott')">
            <div class="card-header d-flex justify-content-between">
                <span class="bold"> Michael Scott </span>
                <span class="">1:00AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2 text-truncate">
                        “Do I need to be liked? Absolutely not. I like to be liked. I enjoy being liked. I have to be liked, but it's not like this compulsive need to be liked, like my need to be praised.”
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card w-75 mt-4 testCol" (click)="onClick('lancia')">
            <div class="card-header d-flex justify-content-between" >
                <span class="bold">Lancia Stratos HF</span>
                <span class="">3:03AM</span>
            </div>
            <div class="card-body">
                    <p class="card-text ms-2 text-truncate">
                        The Lancia Stratos is an Italian-made rally car, winning the World Rally Championship in 1974, 1975, and 1976. The HF stands for High Fidelity.
                    </p>
            </div>
        </div>
    </div>
</div>