<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="lh-1">
        To: yeyutmilkwq482jm2@hotmail.com
        <br />
        From: hello@yes.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Michael Scott Daily Quotes</h3>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12 mt-4">
        “Do I need to be liked? Absolutely not. I like to be liked. I enjoy being liked. I have to be liked, but it's not like this compulsive need to be liked, like my need to be praised.”
      </div>
      <div class="col-12 mt-4">
        “No, I'm not going to tell them about the downsizing. If a patient has cancer, you don't tell them.”
      </div>
      <div class="col-12 mt-4">
        “An office is for not dying. An office is a place to live life to the fullest, to the max, to... An office is a place where dreams come true.”      </div>
      <div class="col-12 mt-4">
        “Make friends first, make sales second, make love third. In no particular order.”     
     </div>
  </div>
  <div class="form-group mt-4">
      <label for="formTextArea"></label>
      <textarea id="textArea" rows="4" class="form-control"></textarea>
  </div>




</div>
